
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
    font-family: system-ui, sans-serif;
    background-color:#e4e4e4;
    font-size: 16px;
    margin-bottom: 60px;
}

header {
    background-color:#BDBDBD;
    width: 100%;
    padding: 20px;
    min-width: 300px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header img {
    width: 24px;
    height: 24px;
}

.hidden {
    display: none;
}



/* BACKGROUND */

.section-back {
  text-align: center;
  width: 100%;
  margin: 20% auto 10px;
}

.back {
  text-align: center;
  background-image: url('images/beach.png');
  width: 30%;
  min-width: 100px;
  margin: 0 auto;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* TASK LIST */

.tasks {
    width: 80%;
    min-height: 100px;
	  margin: 10px auto 10px;
	  background-color:#fff;
	  padding: 10px;
	  border-radius: 10px;
    box-shadow: 1px 3px 10px 1px #aaa;
}

#tasks .cerrar button {
  float: right;
  position: relative;
  right: 2px;
  top: 1px;
  font-size: 1.5em; 
  margin-bottom: 10px;
}

.task-item {
  width: 100%;
  margin-top: 10px;
  padding: 25px 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.task-item:hover {
  background: #ddd;
}

.task-item:active, .completed {
  text-decoration: line-through;
  background: #bebebe;  
}

.completed {
  padding: 10px 10px;
}

.high-priority {
  border-left: 3px solid red;
}

.medium-priority {
  border-left: 3px solid orange;
}

.low-priority {
  border-left: 3px solid green;
}

.task-item > * {
  padding: 0 5px;
  cursor: pointer;
}

.task-item i {
  font-size: 1.3em;
}

.task-item label {
  flex-grow: 2;
  margin: 0px 14px;
}

.borrar {
  opacity: 0;
}

i:hover {
  color: #1558d6;
}

.task-item:hover > .borrar {
  opacity: 100;
}




/* FORM */

textarea {
  resize: none;
}

#form {
    width: 40%;
    min-width: 300px;
    margin: 20px auto 100px;
    background-color: #fcfcfc;
    padding: 15px 30px 15px;
    box-shadow: 1px 4px 10px 1px #aaa;
    border-radius: 10px;
    z-index: 2;
  }
  
  #form h2{
    text-align: center;
    margin-bottom: 30px;
  }
  
  #form input[type=text], #form select, #form option, #form textarea {
    display: block;
    background-color: #f3f3f3;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
  }

  #form input[type=text],  #form select, #form option {
    height: 32px;
  }
  
  #form textarea {
    width: 100%;
    font-family: sans-serif;
  }
   
  #form label {
    color: #777;
    font-size: 0.8em;
  }

  #form .btnAdd {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #207cca;
    z-index: 3;
  }

 #form .cerrar button {
    float: right;
    position: relative;
    right: -20px;
    top: -4px;
    font-size: 1.5em; 
  }

.custom-radios div {
  display: inline-block;
}

.custom-radios div input{
  display: none;
}
     
.custom-radios div label span {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 5px 5px 5px 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 21px;
}

.custom-radios label span img {
  opacity: 0;
  transition: all .2s ease;
}
      
  
#color-1 + label span {
  background-color: grey;
}

#color-2 + label span {
  background-color: green;
}

#color-3 + label span {
  background-color: orange;
}

#color-4 + label span {
  background-color: red;
}

input:checked + label span img {
  opacity: 1;
}
    
input:checked + label span {
  opacity: 1;
  border: 3px solid #207cca;
}  
      


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer button {
  float: right;
  margin-right: 5px;
  
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

footer img {
    width: 44px;
    height: 44px;
}
